<a href="https://colab.research.google.com/github/NotExplosion/C4GC2023_RohanK/blob/main/Examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
#function to calculate the total mean and standard deviation of an entire time series
def ts_meanstd(ts):
  mean = round(ts.mean(axis=0), 3)
  std = round(ts.std(axis=0), 3)
  print("Mean:", mean, ", Standard Deviation:", std)
  return mean, std

In [3]:
#importing data; making a copy of the unmodified data for later use

fin_data = pd.read_csv("tute1.csv")
fin_data['Quarter'] = pd.to_datetime(fin_data['Quarter'], format='%Y-%m')
fin_data2 = fin_data.copy()
fin_data2.head()

     Quarter   Sales  AdBudget    GDP
0 1981-03-01  1020.2     659.2  251.8
1 1981-06-01   889.2     589.0  290.9
2 1981-09-01   795.0     512.5  290.8
3 1981-12-01  1003.9     614.1  292.4
4 1982-03-01  1057.7     647.2  279.1

In [4]:
#replacing the standard index of the dataframe with a date-time index

fin_data.index = fin_data['Quarter']
del fin_data['Quarter']
fin_data.head()

             Sales  AdBudget    GDP
Quarter
1981-03-01  1020.2     659.2  251.8
1981-06-01   889.2     589.0  290.9
1981-09-01   795.0     512.5  290.8
1981-12-01  1003.9     614.1  292.4
1982-03-01  1057.7     647.2  279.1

In [5]:
#finding the total mean and standard deviation of the data, as well as the rolling mean with a window of size 4

print("Sales Data:")
s_mean, s_std = ts_meanstd(fin_data['Sales'])
print("\nAdvertising Budget Data:")
a_mean, a_std = ts_meanstd(fin_data['AdBudget'])
print("\nGDP Data:")
g_mean, g_std = ts_meanstd(fin_data['GDP'])
fin_data.rolling(4).mean()

Sales Data:
Mean: 948.737 , Standard Deviation: 98.252

Advertising Budget Data:
Mean: 591.933 , Standard Deviation: 54.342

GDP Data:
Mean: 281.183 , Standard Deviation: 14.37

              Sales  AdBudget      GDP
Quarter
1981-03-01      NaN       NaN      NaN
1981-06-01      NaN       NaN      NaN
1981-09-01      NaN       NaN      NaN
1981-12-01  927.075   593.700  281.475
1982-03-01  936.450   590.700  288.300
...             ...       ...      ...
2004-12-01  993.700   603.350  281.600
2005-03-01  999.175   606.950  283.350
2005-06-01  998.800   600.100  284.950
2005-09-01  988.850   597.475  285.450
2005-12-01  982.325   597.300  278.225

[100 rows x 3 columns]

In [6]:
#rolling standard deviation of the data with a window of size 4
fin_data.rolling(4).std()

                 Sales   AdBudget        GDP
Quarter
1981-03-01         NaN        NaN        NaN
1981-06-01         NaN        NaN        NaN
1981-09-01         NaN        NaN        NaN
1981-12-01  105.597771  61.432727  19.796864
1982-03-01  117.603472  57.323468   6.176838
...                ...        ...        ...
2004-12-01   93.445278  58.321265  12.081667
2005-03-01  101.324540  62.358400   8.695784
2005-06-01  101.328673  63.306872  10.342953
2005-09-01  119.042919  67.840419  10.722717
2005-12-01  117.567552  67.712480  18.754088

[100 rows x 3 columns]

In [7]:
#reading in a data set with multiple time series#
tourism = pd.read_excel("tourism.xls", index_col=None, header=0)

#changing the index format to date-time
tourism['Quarter'] = pd.to_datetime(tourism['Quarter'], format='%Y-%m')
tourism.index = tourism['Quarter']
del tourism['Quarter']
tourism.head()

              Region            State   Purpose       Trips
Quarter
1998-01-01  Adelaide  South Australia  Business  135.077690
1998-04-01  Adelaide  South Australia  Business  109.987316
1998-07-01  Adelaide  South Australia  Business  166.034687
1998-10-01  Adelaide  South Australia  Business  127.160464
1999-01-01  Adelaide  South Australia  Business  137.448533

In [8]:
#grouping the data points by region
regional_tourism = tourism.groupby("Region")

#finding the purpose with the greatest number of trips, based on region
max_tourism = regional_tourism.max()

#finding the combination of region and purpose with the greatest number of trips overall
abs_max = max_tourism.max()
print(abs_max)
max_tourism.head()

State      Western Australia
Purpose             Visiting
Trips             985.278401
dtype: object

                                         State   Purpose       Trips
Region
Adelaide                       South Australia  Visiting  269.535618
Adelaide Hills                 South Australia  Visiting   81.102109
Alice Springs               Northern Territory  Visiting   76.541382
Australia's Coral Coast      Western Australia  Visiting  198.177794
Australia's Golden Outback   Western Australia  Visiting  173.859915

In [11]:
#Box-Cox implementation, for later reference
import numpy as np
from scipy import stats
new_tourism = stats.boxcox(fin_data['Sales'])

In [10]:
#installing the statsforecast module, which allows for simplified forecasting with a variety of methods
!pip install statsforecast

Collecting statsforecast
  Downloading statsforecast-1.5.0-py3-none-any.whl (99 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 100.0/100.0 kB 9.4 MB/s eta 0:00:00
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from statsforecast) (3.7.1)
Requirement already satisfied: numba>=0.55.0 in /usr/local/lib/python3.10/dist-packages (from statsforecast) (0.56.4)
Requirement already satisfied: numpy>=1.21.6 in /usr/local/lib/python3.10/dist-packages (from statsforecast) (1.22.4)
Requirement already satisfied: pandas>=1.3.5 in /usr/local/lib/python3.10/dist-packages (from statsforecast) (1.5.3)
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from statsforecast) (5.13.1)
Requirement already satisfied: scipy>=1.7.3 in /usr/local/lib/python3.10/dist-packages (from statsforecast) (1.10.1)
Requirement already satisfied: statsmodels>=0.13.2 in /usr/local/lib/python3.10/dist-packages (from statsforecast) (0.13.5)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from statsforecast) (4.65.0)
Collecting plotly-resampler (from statsforecast)
  Downloading plotly_resampler-0.8.3.2.tar.gz (46 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.4/46.4 kB 5.1 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting fugue>=0.8.1 (from statsforecast)
  Downloading fugue-0.8.5-py3-none-any.whl (273 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 273.6/273.6 kB 28.4 MB/s eta 0:00:00
Collecting triad>=0.9.0 (from fugue>=0.8.1->statsforecast)
  Downloading triad-0.9.0-py3-none-any.whl (54 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.9/54.9 kB 5.8 MB/s eta 0:00:00
Collecting adagio>=0.2.4 (from fugue>=0.8.1->statsforecast)
  Downloading adagio-0.2.4-py3-none-any.whl (26 kB)
Requirement already satisfied: pyarrow>=0.15.1 in /usr/local/lib/python3.10/dist-packages (from fugue>=0.8.1->statsforecast) (9.0.0)
Collecting qpd>=0.4.3 (from fugue>=0.8.1->statsforecast)
  Downloading qpd-0.4.3-py3-none-any.whl (169 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 169.1/169.1 kB 22.2 MB/s eta 0:00:00
Collecting fugue-sql-antlr>=0.1.6 (from fugue>=0.8.1->statsforecast)
  Downloading fugue-sql-antlr-0.1.6.tar.gz (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.6/154.6 kB 20.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting sqlglot (from fugue>=0.8.1->statsforecast)
  Downloading sqlglot-17.2.0-py3-none-any.whl (279 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 279.9/279.9 kB 30.8 MB/s eta 0:00:00
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from fugue>=0.8.1->statsforecast) (3.1.2)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.10/dist-packages (from numba>=0.55.0->statsforecast) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from numba>=0.55.0->statsforecast) (67.7.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.5->statsforecast) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.3.5->statsforecast) (2022.7.1)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.13.2->statsforecast) (0.5.3)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels>=0.13.2->statsforecast) (23.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->statsforecast) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->statsforecast) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->statsforecast) (4.40.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->statsforecast) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->statsforecast) (8.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->statsforecast) (3.1.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->statsforecast) (8.2.2)
Collecting dash<3.0.0,>=2.2.0 (from plotly-resampler->statsforecast)
  Downloading dash-2.11.1-py3-none-any.whl (10.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.4/10.4 MB 92.3 MB/s eta 0:00:00
Collecting jupyter-dash>=0.4.2 (from plotly-resampler->statsforecast)
  Downloading jupyter_dash-0.4.2-py3-none-any.whl (23 kB)
Collecting orjson<4.0.0,>=3.8.0 (from plotly-resampler->statsforecast)
  Downloading orjson-3.9.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (136 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 137.0/137.0 kB 5.0 MB/s eta 0:00:00
Collecting trace-updater>=0.0.8 (from plotly-resampler->statsforecast)
  Downloading trace_updater-0.0.9.1-py3-none-any.whl (185 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 185.2/185.2 kB 18.5 MB/s eta 0:00:00
Requirement already satisfied: Flask<2.3.0,>=1.0.4 in /usr/local/lib/python3.10/dist-packages (from dash<3.0.0,>=2.2.0->plotly-resampler->statsforecast) (2.2.5)
Collecting Werkzeug<2.3.0 (from dash<3.0.0,>=2.2.0->plotly-resampler->statsforecast)
  Downloading Werkzeug-2.2.3-py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.6/233.6 kB 23.7 MB/s eta 0:00:00
Collecting dash-html-components==2.0.0 (from dash<3.0.0,>=2.2.0->plotly-resampler->statsforecast)
  Downloading dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Collecting dash-core-components==2.0.0 (from dash<3.0.0,>=2.2.0->plotly-resampler->statsforecast)
  Downloading dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Collecting dash-table==5.0.0 (from dash<3.0.0,>=2.2.0->plotly-resampler->statsforecast)
  Downloading dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Requirement already satisfied: typing-extensions>=4.1.1 in /usr/local/lib/python3.10/dist-packages (from dash<3.0.0,>=2.2.0->plotly-resampler->statsforecast) (4.6.3)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from dash<3.0.0,>=2.2.0->plotly-resampler->statsforecast) (2.27.1)
Collecting retrying (from dash<3.0.0,>=2.2.0->plotly-resampler->statsforecast)
  Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Collecting ansi2html (from dash<3.0.0,>=2.2.0->plotly-resampler->statsforecast)
  Downloading ansi2html-1.8.0-py3-none-any.whl (16 kB)
Requirement already satisfied: nest-asyncio in /usr/local/lib/python3.10/dist-packages (from dash<3.0.0,>=2.2.0->plotly-resampler->statsforecast) (1.5.6)
Collecting antlr4-python3-runtime<4.12,>=4.11.1 (from fugue-sql-antlr>=0.1.6->fugue>=0.8.1->statsforecast)
  Downloading antlr4_python3_runtime-4.11.1-py3-none-any.whl (144 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 144.2/144.2 kB 14.5 MB/s eta 0:00:00
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (7.34.0)
Requirement already satisfied: ipykernel in /usr/local/lib/python3.10/dist-packages (from jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (5.5.6)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.2->statsmodels>=0.13.2->statsforecast) (1.16.0)
Collecting fs (from triad>=0.9.0->fugue>=0.8.1->statsforecast)
  Downloading fs-2.4.16-py2.py3-none-any.whl (135 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 135.3/135.3 kB 16.6 MB/s eta 0:00:00
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->fugue>=0.8.1->statsforecast) (2.1.3)
Requirement already satisfied: itsdangerous>=2.0 in /usr/local/lib/python3.10/dist-packages (from Flask<2.3.0,>=1.0.4->dash<3.0.0,>=2.2.0->plotly-resampler->statsforecast) (2.1.2)
Requirement already satisfied: click>=8.0 in /usr/local/lib/python3.10/dist-packages (from Flask<2.3.0,>=1.0.4->dash<3.0.0,>=2.2.0->plotly-resampler->statsforecast) (8.1.3)
Requirement already satisfied: appdirs~=1.4.3 in /usr/local/lib/python3.10/dist-packages (from fs->triad>=0.9.0->fugue>=0.8.1->statsforecast) (1.4.4)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (0.2.0)
Requirement already satisfied: traitlets>=4.1.0 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (5.7.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (6.1.12)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipykernel->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (6.3.1)
Collecting jedi>=0.16 (from ipython->jupyter-dash>=0.4.2->plotly-resampler->statsforecast)
  Downloading jedi-0.18.2-py2.py3-none-any.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 82.9 MB/s eta 0:00:00
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (3.0.38)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (2.14.0)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (0.1.6)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (4.8.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->dash<3.0.0,>=2.2.0->plotly-resampler->statsforecast) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->dash<3.0.0,>=2.2.0->plotly-resampler->statsforecast) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->dash<3.0.0,>=2.2.0->plotly-resampler->statsforecast) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->dash<3.0.0,>=2.2.0->plotly-resampler->statsforecast) (3.4)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (0.2.6)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from jupyter-client->ipykernel->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (5.3.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.10/dist-packages (from jupyter-client->ipykernel->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (23.2.1)
Requirement already satisfied: platformdirs>=2.5 in /usr/local/lib/python3.10/dist-packages (from jupyter-core>=4.6.0->jupyter-client->ipykernel->jupyter-dash>=0.4.2->plotly-resampler->statsforecast) (3.7.0)
Building wheels for collected packages: plotly-resampler, fugue-sql-antlr
  Building wheel for plotly-resampler (pyproject.toml) ... done
  Created wheel for plotly-resampler: filename=plotly_resampler-0.8.3.2-cp310-cp310-manylinux_2_31_x86_64.whl size=75240 sha256=b4963632189918634648f9b207099fde6868b7d40fb9593f44c5890f372b46f8
  Stored in directory: /root/.cache/pip/wheels/a9/19/e2/ec856d98cf9b617511fff0abae1dfed5bf1f6093ce65126b45
  Building wheel for fugue-sql-antlr (setup.py) ... done
  Created wheel for fugue-sql-antlr: filename=fugue_sql_antlr-0.1.6-py3-none-any.whl size=158049 sha256=714f9143c94e100072bb6ce5cf3c7cd682ab1f646719948df9f450ceb596853c
  Stored in directory: /root/.cache/pip/wheels/c8/54/a1/b294b8b33c6107946b5720b3acb1fce07b97bbbc9677a501ce
Successfully built plotly-resampler fugue-sql-antlr
Installing collected packages: trace-updater, sqlglot, dash-table, dash-html-components, dash-core-components, antlr4-python3-runtime, Werkzeug, retrying, orjson, jedi, fs, ansi2html, triad, dash, jupyter-dash, fugue-sql-antlr, adagio, qpd, plotly-resampler, fugue, statsforecast
  Attempting uninstall: Werkzeug
    Found existing installation: Werkzeug 2.3.6
    Uninstalling Werkzeug-2.3.6:
      Successfully uninstalled Werkzeug-2.3.6
Successfully installed Werkzeug-2.2.3 adagio-0.2.4 ansi2html-1.8.0 antlr4-python3-runtime-4.11.1 dash-2.11.1 dash-core-components-2.0.0 dash-html-components-2.0.0 dash-table-5.0.0 fs-2.4.16 fugue-0.8.5 fugue-sql-antlr-0.1.6 jedi-0.18.2 jupyter-dash-0.4.2 orjson-3.9.1 plotly-resampler-0.8.3.2 qpd-0.4.3 retrying-1.3.4 sqlglot-17.2.0 statsforecast-1.5.0 trace-updater-0.0.9.1 triad-0.9.0

In [12]:
#Forecasting implementation
from statsforecast import StatsForecast
from statsforecast.models import Naive, SeasonalNaive, RandomWalkWithDrift

#creating the forecasting model, using simple methods (Naive and Seasonal Naive, was unable to implement Random Walk with Drift)
model = StatsForecast(models=[Naive(), SeasonalNaive(season_length=1)], freq='QS', n_jobs=-1)
#print(fin_data[['Sales']])

#for the model to work, the data has to be in a specific format
#'unique_id' is a value that represents which time series a data point belongs to
#in this case, all data is part of the same time series so should have the same 'unique_id'
#'ds' is the date/time column; 'y' is the value being forecasted
fin_data2 = fin_data2.rename({'Quarter':'ds','Sales':'y'}, axis=1)
fin_data2['unique_id'] = 1
fin_data2.head()

#h is the number of data points into the future that the model is forecasting
model.forecast(h=8, df=fin_data2)

/usr/local/lib/python3.10/dist-packages/statsforecast/core.py:21: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

                  ds       Naive  SeasonalNaive
unique_id
1         2006-01-01  992.599976     992.599976
1         2006-04-01  992.599976     992.599976
1         2006-07-01  992.599976     992.599976
1         2006-10-01  992.599976     992.599976
1         2007-01-01  992.599976     992.599976
1         2007-04-01  992.599976     992.599976
1         2007-07-01  992.599976     992.599976
1         2007-10-01  992.599976     992.599976